<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Client Profile
      </ion-title>
    </ion-toolbar>
  </ion-header>

<!-- <ion-content (click)="closeModal()" padding> -->
<ion-content padding>
    <ion-slides pager="true">
        <ion-slide>

             <img class="circle-pic" src="https://source.unsplash.com/category/woman/100x100" />

        </ion-slide>
      </ion-slides>

  <ion-card>
    <ion-card-header>
        <ion-card-title>{{client?.id}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p>Age: {{client?.age}}</p>
        <ion-button shape="round" color="primary" fill="outline" size="large" [routerLink]="['/match_game', client?.id]">Match This Client</ion-button>
        <br>
        <p class="description">{{client?.goal}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
