<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Client Profile
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <ion-slides pager="true">
        <ion-slide>
            <img class="circle-pic"
            src={{client.headshot1}} />
        </ion-slide>

        <ion-slide>
            <img class="circle-pic"
            src="{{client.headshot2}}" />
        </ion-slide>

        <ion-slide>
            <img class="circle-pic"
            src={{client.headshot3}} />
        </ion-slide>
      </ion-slides>

  <ion-card>
    <ion-card-header>
        <ion-card-title>{{client.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p>{{client.location}}</p>
        <ion-button shape="round" color="primary" fill="outline" size="large" [href]="'/match_game'">Match This Client</ion-button>
        <br>
        <p class="description">{{client.description}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
