ion-avatar {
    margin-bottom: 50px;
    text-align: center;
    align-content: center;
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 200px;
}

ion-button {
    display: inline-block;
    text-align: center;
    align-content: center;
    width: 80%;
    background-color: white;
}

.logo_row {
    height: 200px;
    width: 200px;
    align-content: center;
    text-align: center;
}

