<ion-header>
   <ion-toolbar>
      <ion-title>Login</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content padding>

   <form [formGroup]="loginForm">
      <ion-grid>

         <ion-row id="top">
            <ion-col class="logo_row" size="6">
               <ion-avatar>
                  <img src="https://source.unsplash.com/category/woman/200x200"/>
               </ion-avatar>
            </ion-col>
         </ion-row>

         <ion-row>
            <ion-col size="12">
               <ion-card>
                  <ion-card-header color="primary">Username</ion-card-header>
                  <ion-card-content>
                     <ion-input [formControl]="loginForm.controls['email']" color="tertiary" required type="text" maxlength="30"></ion-input>
                  </ion-card-content>
               </ion-card>
               <ion-card>
                  <ion-card-header color="primary">Password</ion-card-header>
                  <ion-card-content>
                     <ion-input [formControl]="loginForm.controls['password']"  color="tertiary"  required type="password" maxlength="30"></ion-input>
                  </ion-card-content>
               </ion-card>
            </ion-col>
         </ion-row>

         <ion-row>
            <ion-col class="logo_row" size="12">
               <ion-button class="btn" shape="round" color="primary" fill="outline" size="large"  [disabled]="!loginForm.valid" (click)="onLogin()">Login</ion-button>
            </ion-col>
         </ion-row>

      </ion-grid>
   </form>
</ion-content>
