<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chat List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">Chats</div>
  <ion-list *ngFor="let thread of threads">
        <ion-item>
          <ion-avatar slot="start">
              <img src="https://source.unsplash.com/category/woman/200x200"/>
          </ion-avatar>
          <ion-card>
              <ion-card-header class="name">{{thread.name}}, {{thread.age}}</ion-card-header>
            <ion-card-content class="last_text">
              {{thread.last_text}}
            </ion-card-content>
          </ion-card>
        </ion-item>
  </ion-list>

</ion-content>
 
