<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>New Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header  color="primary">Username</ion-card-header>
    <ion-card-content>
      <ion-input  color="tertiary" required type="text" maxlength="30" placeholder="username123"></ion-input>
    </ion-card-content> 
  </ion-card>

  <ion-card>
      <ion-card-header  color="primary">Password</ion-card-header>
      <ion-card-content>
        <ion-input  color="tertiary"  required type="password" maxlength="30" placeholder="•••••••••••"></ion-input>
      </ion-card-content> 
  </ion-card>

  <ion-card>
      <ion-card-header  color="primary">Confirm Password</ion-card-header>
      <ion-card-content>
        <ion-input  color="tertiary"  required type="password" maxlength="30"></ion-input>
      </ion-card-content> 
  </ion-card>

  <ion-card>
      <ion-card-header color="primary">Name</ion-card-header>
      <ion-card-content>
        <ion-input  color="tertiary"  required type="text" maxlength="30" placeholder="Jane Doe"></ion-input>
      </ion-card-content> 
  </ion-card>

  <ion-card>
      <ion-card-header color="primary">Age</ion-card-header>
      <ion-card-content>
        <ion-input  color="tertiary"  required type="number" min=0 max=120 step=1 placeholder="28"></ion-input>
      </ion-card-content> 
  </ion-card>

  <ion-card>
    <ion-card-header color="primary">Gender</ion-card-header>
    <ion-card-content>
      <ion-radio-group>
        <ion-item>
          <ion-label color="tertiary">Male</ion-label>
          <ion-radio value="Male"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label color="tertiary">Female</ion-label>
          <ion-radio value="Female"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label color="tertiary">Gender Nonbinary</ion-label>
          <ion-radio value="Nonbinary"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="primary">Sexual Orientation</ion-card-header>
    <ion-card-content>
      <ion-radio-group>
        <ion-item>
          <ion-label color="tertiary">Heterosexual</ion-label>
          <ion-radio value="Heterosexual"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label color="tertiary">Homosexual</ion-label>
          <ion-radio value="Homosexual"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label color="tertiary">Bisexual</ion-label>
          <ion-radio value="Bisexual"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label color="tertiary">Pansexual</ion-label>
          <ion-radio value="Pansexual"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header color="primary">Must-Have</ion-card-header>
      <ion-card-content>
        <ion-textarea color="tertiary" class="short_par" required type="text" maxlength="100" placeholder="What do you look for most in a partner?"></ion-textarea>
      </ion-card-content> 
  </ion-card>

  <ion-card>
      <ion-card-header color="primary">Deal-Breaker</ion-card-header>
      <ion-card-content>
        <ion-textarea color="tertiary" class="short_par" required type="text" maxlength="100" placeholder="What can you absolutely not have in a partner?"></ion-textarea>
      </ion-card-content> 
  </ion-card>

  <ion-card>
      <ion-card-header color="primary">Bio</ion-card-header>
      <ion-card-content>
        <ion-textarea color="tertiary" class="long_par" required type="text" maxlength="1000" placeholder="Tell us about yourself..."></ion-textarea>
      </ion-card-content> 
  </ion-card>

  <ion-card>
    <ion-card-header color="primary">Activity Level</ion-card-header>
    <ion-card-content>
      <ion-radio-group>
        <ion-item>
          <ion-label color="tertiary">Low</ion-label>
          <ion-radio value="low"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label color="tertiary">Medium</ion-label>
          <ion-radio value="med"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label color="tertiary">High</ion-label>
          <ion-radio value="high"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>
  
  <div style="text-align: center">
    <ion-button class="btn" shape="round" color="primary" fill="outline" size="large" [href]="'/home'">Creat Account</ion-button>
  </div>

</ion-content>
