<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
         Onboarding
      </ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
   <ion-grid>
      <ion-row class="top">
      </ion-row>
      <ion-row class="bottom">
         <ion-col size="6">
                     <ion-button shape="round" color="primary" fill="outline" size="large" [href]="'/matchmaker_profile'">Signup</ion-button>
         </ion-col>
         <ion-col size="6">
                     <ion-button shape="round" color="primary" fill="outline" size="large" [href]="'/login_list'">Login</ion-button>
         </ion-col>
      </ion-row>
      </ion-grid>
</ion-content>
