<ion-header>
   <ion-toolbar color="background">
      <ion-buttons slot="start">
         <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
         Welcome
      </ion-title>
   </ion-toolbar>
</ion-header>

<ion-content >
   <ion-grid >

      <ion-row class="bottom">
         <ion-col size="6">
                     <ion-button shape="round" color="secondary" fill="outline" size="large" [href]="'/new_account'">Signup</ion-button>
         </ion-col>
         <ion-col size="6">
                     <ion-button shape="round" color="secondary" fill="outline" size="large" [href]="'/login'">Login</ion-button>
         </ion-col>
      </ion-row>
      </ion-grid>
</ion-content>
