
ion-grid {
  height: 100%;

  ion-row {
    height: 20%;
  }

  .matcher-profile {
     text-align: center;
 }
   .circle-pic{
       width:auto;
       height:100%;
       -webkit-border-radius: 50%;
       border-radius: 50%;
   }

}
