ion-content {
   /*background: color($colors, home);*/
}

ion-grid {
  height: 100%;

  /*ion-row {
    height: 20%;
}*/

ion-button {
   -webkit-border-radius: 50%;
   border-radius: 50%;
}
hr {
  border-top: 1px solid black;
}

  #top {
     height: 30%;
     text-align: center;
     font-size: 2.0rem;
 }

 #match-score {
    font-size: 2.0rem;
    height: 15%;
    text-align: center;
}
#play-button {
   height: 15%;
   text-align: center;
}
#recent-matches {
   height: 25%;

}
#recent-matches-avatars {
    float:left;
    position: relative;
    width: auto;
       display: inline-block;

}
#review-matches {
   height: 15%;
}
  .matcher-profile {
     text-align: center;
 }
   .circle-pic{
       width:auto;
       height:80%;
       -webkit-border-radius: 50%;
       border-radius: 50%;
   }
   .circle-pic-small{
       width:auto;
       height:50%;
       -webkit-border-radius: 50%;
       border-radius: 50%;

   }
   /* Centered text */
   .centered {
       position: absolute;
       top: 50%;
       width: 100%;
       left: 20%;
       right: 20%;
       transform: translate(-25%, -50%);

   }
   .offset-image-1 {
      position: absolute;
      transform: translate(0%, 0%);
   }
   .offset-image-2 {
      position: absolute;
      transform: translate(50%, 0%);
   }
   .offset-image-3 {
      position: absolute;
      transform: translate(100%, 0%);
   }
   .score {
      font-size: 2.5rem;
   }

   .container{

      float:left;
       width: 100%;
       max-width: 100%;
       overflow: hidden;
       background-position: center;
       top: 0;
       z-index: -1;
   }

   .badge-container{

      float:left;
       width: 100%;
       max-width: 100%;
       overflow: hidden;
       background-position: center;
       top: 0;
       z-index: -1;
   }

   .badge {
      position:absolute;
      transform: translate(-100%, 0%);
   }
}
