ion-grid {

  height: 100%;
}

.top {
   height:65%;
   text-align: center;
}

.rating {
   text-align: center;
}

.bottom {
   height:35%;
}

.circle-pic {
  width:50%;
  height:auto;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.backbtn {
  align-content: left;
  margin-top: 200px;
}

.fwdbtn {
  align-content: right;
  margin-top: 200px;  
}

ion-icon {
   padding: 0px;
}
