ion-content {

  --background: url('../../assets/BG.png')  no-repeat fixed center;
}

ion-grid {

  height: 100%;
}

.top {
   max-height:45% !important;
   width:100% !important;
   text-align: center;
}

.rating {
   text-align: center;
}

.bottom {
   width:100%;
   max-height:45% !important;
   text-align: center;
}

.circle-pic {
  width:30%;
  height:auto;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}

.backbtn {
  align-content: left;

}

.fwdbtn {
  align-content: right;

}

ion-icon {
   padding: 0px;
}

ng-container {
   text-align: center;
}

.star-rating-list {
   background-color: transparent;
}

.star-rating {
   background-color: transparent;
}
