<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>MatchGame</ion-title>
    <ion-buttons slot="end">
     <ion-button style="align-content: right" shape="round" color="primary" fill="outline" size="small" [href]="'/home'">Home</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="top">
      <ion-col size="1">
        <button disabled="true" style="background-color: transparent"> 
          <ion-icon name="arrow-back" class="backbtn"></ion-icon> 
        </button>
      </ion-col>
      <ion-col size="10">
        <ion-slides pager="false">
          <ion-slide  #slidingItem *ngFor="let rando of randos" (ionSwipe)="doSwipe(rando)">

            <ion-card>
              <ion-card-header>
                <ion-card-title>{{rando.name}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p><img class="circle-pic" src="https://source.unsplash.com/category/woman/300x300" /></p>
                  <p>Distance: {{rando.location}}</p>

                  <br>
                  <p>Lorem ipsum dolor sit amet,
                      consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt
                      ut labore et dolore magna aliqua.
                      Ut enim ad minim veniam, quis
                      nostrud exercitation ullamco
                      laboris nisi ut aliquip ex ea
                      commodo consequat.</p>
                  <ion-list no-lines id="menu-list">
                    <button menuClose ion-item *ngFor="let this_star of star_color" (click)="star(this_star, rando, slidingItem)">
                      <ion-icon class="filled" size="large" name="star" [color]="this_star.show ? 'primary' : 'dark'"></ion-icon>
                    </button>
                  </ion-list>

              </ion-card-content>
            </ion-card>

          </ion-slide>

          
              
        </ion-slides>
      </ion-col>
      <ion-col size="1">
        <button disabled="true" style="background-color: transparent"> 
          <ion-icon name="arrow-forward" class="fwdbtn"></ion-icon> 
        </button>
      </ion-col>
    </ion-row>


    <ion-row class="bottom">
      <ion-card (click)="openModal()">
        <ion-card-header>
          <ion-card-title>Client Profile</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>location, distance</p>
          <br>
          <p>Lorem ipsum dolor sit amet,
            consectetur adipiscing elit,
            sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis
            nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute
            irure dolor in reprehenderit in
            voluptate velit esse cillum
            dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui
            officia deserunt mollit anim id
            est laborum.</p>
          </ion-card-content>
        </ion-card>
      </ion-row>
  </ion-grid>
</ion-content>
